.cards {
  height: 120px;

  img {
    cursor: pointer;
  }
}

.card {
  padding: 1rem 60px;

  &__icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
  }

  &__wipers {
    display: flex;
    justify-content: center;
  }
}

.wipers-btn {
  width: 113px;
  grid-area: wipers;
  align-self: end;
  justify-self: stretch;

  img {
    position: relative;
    top: 3px;
  }
}

.indicators {
  display: flex;
  margin: 15px auto;
  width: 2rem;
  justify-content: space-between;
  grid-area: indicators;
}

.indicator {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $lightGray;

  &--active {
    background-color: $darkGray;
  }
}