@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html, *{
    font-size: 16px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
    background-color: $gray;
    // background-image: url(../../assets/images/tesla-dashboard.jpg);
    background-size: 240%;
    background-position: center 34%;
}

.container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 625px;
    background-color: $veryLightGray;
    position: absolute;
}