.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  z-index: 2;

  img {
    cursor: pointer;
  }

  &__text {
    font-size: 12px;
    font-weight: 600;
  }

  &__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    img {
      margin-right: 8px;
    }
  }

  &__left-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    margin-left: 9px;
  }

  &__right-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;
    width: 222px;
  }
}